## NumPy Arrays. Pandas Series

In [1]:
import numpy as np
import pandas as pd

In [2]:
myidx = ['USA', 'Canada', 'Mexico']
mydata = [1776, 1867, 1821]

In [4]:
myser = pd.Series(data=mydata, index=myidx)

In [5]:
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [6]:
myser[0]

1776

In [8]:
myser['USA']

1776

In [9]:
ages = {'Sam': 5, 'Ftank': 10, 'Spike': 7}
pd.Series(ages)

Sam       5
Ftank    10
Spike     7
dtype: int64

In [10]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [11]:
sales_q1['Japan']

80

In [12]:
sales_q1.add(sales_q2, fill_value = 0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64