In [1]:
import numpy as np
import pandas as pd

In [2]:
email = 'e@email.com'

In [3]:
email.split('@')

['e', 'email.com']

In [4]:
names = pd.Series(['And', 'Bob', 'Clair', 'david', '5'])

In [5]:
names.str.upper()

0      AND
1      BOB
2    CLAIR
3    DAVID
4        5
dtype: object

In [6]:
names.str.isdigit()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [7]:
tech_finance = ['GOOG,AAPL,AMZN', 'JPM,BAC,GS']

In [8]:
len(tech_finance)

2

In [9]:
tickers = pd.Series(tech_finance)

In [14]:
tickers.str.split(',', expand=True)

      0     1     2
0  GOOG  AAPL  AMZN
1   JPM   BAC    GS

In [17]:
messy_names = pd.Series(['And', 'bo;bo', '   clair  '])
messy_names

0           And
1         bo;bo
2       clair
dtype: object

In [21]:
messy_names.str.replace(";",'').str.strip().str.capitalize()

0      And
1     Bobo
2    Clair
dtype: object